@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Luckiest+Guy&display=swap");

.admin-container {
  width: 100%;
  display: flex;
  position: relative;
}

.side-bar {
  width: 20%;
  height: 100vh;
  background-color: #030307e6;
  color: #ffffffbd;
  position: sticky;
  z-index: 1000;
  overflow-y: auto;
}

.main {
  max-width: 100%;
  width: 80%;
  height: 100vh;
  color: black;
  overflow-y: auto;
}

.brand {
  font-weight: 700;
  font-family: "Lobster", cursive;
  font-size: 25px;
  text-transform: capitalize;
  color: white;
}

.brand:hover {
  color: #edecee;
}

.admin-navbar-navlink .nav-link{
  font-weight: 600;
  color: #fff !important;
}

.admin-navbar-navlink #login{
  background-color: #2e342ed9;
}

.name {
  text-align: center;
  padding: 20px 0;
}

.admin-navbar {
  border-bottom: 1px solid #917979c7;
  padding-bottom: 0px;
  background: #2e972e;
}


.main-content {
  background: #f6f5f7;
}

h5 {
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  padding: 5px 15px;
}

.menu h5 span {
  font-size: 15px;
  margin-right: 10px;
}

.manageActive, .addActive, .editActive {
  background-color: #2e972e;
  color: white;
}