.section{
   margin-top: 50px;
}

.section .card{
   padding: 20px;
}

.section .card hr{
   margin-top: 0;
}

.section h5{
   padding: 0;
}

.checkout-btn{
   width: 100%;
   text-align: right;
}

.checkout-btn .btn-primary {
   color: #fff;
   background-color: #56a956;
   border-color: #56a956;
}