.a-box {
  display: inline-block;
  width: 300px;
  max-height: 365px;
  text-align: center;
  padding: 0px 20px;
  height: 350px;
  margin: 30px 0px;
  min-height: 350px;
  background: white;
  border-radius: 5px;
  box-shadow: 6px 6px 14px 10px #ddd;
}

.img-container {
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
}

.img-container img {
  height: 200px;
  width: auto;
}

/* .inner-skew {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  background: #c8c2c2;
  height: 250px;
  width: 200px;
} */

/* .text-container {
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
  padding: 200px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -215px -40px 0px -40px;
  line-height: 19px;
  font-size: 14px;
} */

.text-container h3 {
  margin: 20px 0px 10px 0px;
  font-size: 20px;
  font-weight: bold;
  font-family: arial black;
}

.text-container h2 {
  color: #56a956;
  font-size: 30px;
  font-weight: bold;
}

.col-md-4 {
  display: flex;
  justify-content: space-evenly;
}

.text-container button {
  border-radius: 5px;
  border: 1px solid #56a956;
  background-color: #56a956;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.cards-footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 20px;
}
